body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.poll-container {
    background-color:grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90vh;
    width: 90vw;
    text-align: center;
}

.poll-container h2{
    color: white;
}
.poll-options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bd162db0;
    color: #fff;
}

.poll-options button:hover {
    background-color: #e40de4;
}

.results {
    margin-top: 20px;
}

.results p {
    font-size: 18px;
}
