body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 62%, 46%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-image:url("sky-clouds-design-with-flat-cartoon-poster-flyers-postcards-web-banners_771576-58.avif" );
    object-fit: cover;
}

#app {
    text-align: center;
    width: 300px;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#weatherDisplay {
    margin-top: 20px;
    font-size: 18px;
}